<h1>Agendas Organisation Invitation</h1>

<p>
<%= @greeting %>, you are invited to join the organisation: <%= @organisation.name %>.
<br/>
You can join by entering this password to the <%= link_to 'Agendas', 'http://localhost:3001/agendas/org-prompt' %> join page: 
<br/>
<br/>
<h4><%= @organisation.link %></h4>
</p>